{% extends 'layouts/base.html' %}
{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">APLICACION DINAMICA DJANGO</h1>
        <p class="lead text-center">Esta es una aplicacion dinamica desarrollada en Django</p>
        <h2 class="display-1 text-center">Creada por Saul Gutierrez</h2>
        <p class="lead text-center">Esta aplicacion permite crear tareas, editarlas y eliminarlas, el cual esta basado en el tutorial de youtube Django CRUD con Autenticacion y Despliegue Gratuito (Login,Register, Rutas protegidas, y mas)</p>
        <p><a href="https://www.youtube.com/watch?v=e6PkGDH4wWA&t=9317s"> Creditos y Enlace del video</a></p>

    <div class="text-center">
        <a class="btn btn-info" href="/login/">
            Login
        </a>
        <a class="btn btn-primary" href="/signup/">
            Signup
        </a>
    </div>

    </section>


</main>

{% endblock %}