{% extends 'layouts/base.html' %}
{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">APLICACION DINAMICA DJANGO</h1>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis voluptate quo molestiae porro deserunt velit, explicabo architecto temporibus rerum ipsa, doloremque ducimus repellat totam facilis libero odit eaque animi quasi.</p>

    <div class="text-center">
        <a class="btn btn-info" href="/login/">
            Login
        </a>
        <a class="btn btn-primary" href="/signup/">
            Signup
        </a>
    </div>

    </section>


</main>

{% endblock %}