{% extends 'layouts/base_forms.html' %}

{% block content %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre(s)</th>
                <th>Apellido(s)</th>
                <th>Edad</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Nota</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ client.names }}</td>
                <td>{{ client.apellidos }}</td>
                <td>{{ client.edad }}</td>
                <td>{{ client.telefono }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.nota }}</td>
                <td>
                    <!-- Cambiar el action del formulario para cargar clients_detail.html -->
                    <form action="{% url 'client_detail' client.id %}" method="GET">
                        <button class="btn btn-warning">Editar</button>
                    </form>
                    <form action="{% url 'delete_client' client.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger">Borrar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
